<!DOCTYPE html>
<html lang="ru">
<head>
<title>Error</title>
<meta charset="utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="/cdn-cgi/apps/head/Qz1JI3jKPnt9NwuKnYPNmoYn8JE.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
<link rel="stylesheet" href="/css/styles.css?v=0.0.3">
<link rel="stylesheet" href="/assets/revealator/fm.revealator.jquery.css">
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/img/favicon/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Forsage">
<meta name="application-name" content="Forsage">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
</head>
<body>


<header class="header">
<div class="header-wrap">
<div class="header-logo">
<h2 class="logo">FORSAGE</h2>
</div>
<div class="header-lang">
<div class="header-lang__option current">
<div class="header-lang__option-flag">
<img src="/img/flags/ru.svg" alt="ru">
</div>
<div class="header-lang__option-name">
РУССКИЙ </div>
</div>
<div class="header-lang__option ">
<div class="header-lang__option-flag">
<img src="/img/flags/en.svg" alt="en">
</div>
<a href="?lang=en" class="header-lang__option-name">
ENGLISH </a>
</div>
<div class="header-lang__option ">
<div class="header-lang__option-flag">
<img src="/img/flags/de.svg" alt="de">
</div>
<a href="?lang=de" class="header-lang__option-name">
GERMAN </a>
</div>
<div class="header-lang__option ">
<div class="header-lang__option-flag">
<img src="/img/flags/es.svg" alt="es">
</div>
<a href="?lang=es" class="header-lang__option-name">
SPANISH </a>
</div>
<div class="header-lang__option ">
<div class="header-lang__option-flag">
<img src="/img/flags/fr.svg" alt="fr">
</div>
<a href="?lang=fr" class="header-lang__option-name">
FRENCH </a>
</div>
<div class="header-lang__option ">
<div class="header-lang__option-flag">
<img src="/img/flags/it.svg" alt="it">
</div>
<a href="?lang=it" class="header-lang__option-name">
ITALIAN </a>
</div>
<div class="header-lang__option ">
<div class="header-lang__option-flag">
<img src="/img/flags/az.svg" alt="az">
</div>
<a href="?lang=az" class="header-lang__option-name">
AZƏRBAYCAN </a>
</div>
</div>
</div>
</header>


<div class="wrapper" id="wrapper">
<h1 class="text-center">Unknown page</h1> </div>

<div id="marketing-video" class="modal marketing-video">
<div class="modal-header">
<div class="list-lang">
<a href="javascript:;" data-lang="ru" data-video_key="z2IGoJadgEs" class="active">
<img src="/img/flags/ru.svg" alt="" width="50px" height="50px">
</a>
<a href="javascript:;" data-lang="en" data-video_key="m0NzYwFfGH4" class="">
<img src="/img/flags/en.svg" alt="" width="50px" height="50px">
</a>
</div>
</div>
<div class="modal-content">
<div data-video_lang="ru" class="video-container active">
<iframe width="90%" src="https://www.youtube.com/embed/z2IGoJadgEs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div data-video_lang="en" class="video-container ">
<iframe width="90%" src="https://www.youtube.com/embed/m0NzYwFfGH4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="modal-footer">
<div class="block-copy">
<span class="link">
<a href="https://youtu.be/z2IGoJadgEs" target="_blank">https://youtu.be/z2IGoJadgEs</a>
</span>
<span class="copy">
<i class="fas fa-copy"></i>
</span>
</div>
</div>
</div>
<div id="Notice"></div>
<script>
var config = {
    site: {
        domain:   location.hostname,
        protocol: location.protocol + '//',
        hostname: location.hostname,
        link: 'https://forsage.io/',
    },
    user: {
        refkey: 'unknown',
    },
    lang: {
        /* common.js */
        copied                   : `Скопировано`,

        // Сокеты события
        'ws-regLevel_0'          : `Присоединился ID:{user_id}`,
        'ws-regLevel_1'          : `Присоединился ID:{user_id}. Поздравляем с успешным выбором!`,
        'ws-regLevel_2'          : `Встречаем нового участника ID:{user_id}.`,
        'ws-regLevel_3'          : `Зарегистрировался ID:{user_id}. Добро пожаловать в Forsage!`,
        'ws-newUserPlace'        : `ID:{user_id} заработал {price_level} {crypto_name} (\${currency_usd}) в программе {matrix}`,
        'ws-upgrade'             : `ID:{user_id} купил {level}-ю площадку в {matrix} у участника {ref_id}.`,
        'ws-reinvest'            : `У ID:{user_id} произошел авто-реинвест на {level}-й площадке ({matrix})`,
        'ws-missedEthReceive'    : `ID:{user_id} упустил прибыль {price_level} {crypto_name} (\${currency_usd}). Необходимо выполнить апгрейд в ({matrix})`,
        'ws-sentExtraEthDividends':`ID:{user_id} получил бонус {price_level} {crypto_name} (\${currency_usd})`,
        'ws-cannotSendMoneyEvent': `ID:{user_id} ошибка получения перевода`,
        'ws-leadingPartner'      : `ID:{user_id} упустил прибыль {price_level} {crypto_name} (\${currency_usd}) от (ID:{ref_id}) на площадке №{level} ({matrix})`,
        'ws-leadingPlacePurchase': `ID:{user_id} обогнал своего пригласителя (ID:{up_id}) на площадке №{level} ({matrix})`,

        // Скрипт с выводом даты отсчета времени
        'elt-years_0'            : `год`,
        'elt-years_1'            : `года`,
        'elt-years_2'            : `лет`,
        'elt-months_0'           : `месяц`,
        'elt-months_1'           : `месяца`,
        'elt-months_2'           : `месяцев`,
        'elt-days_0'             : `день`,
        'elt-days_1'             : `дня`,
        'elt-days_2'             : `дней`,
        'elt-hours_0'            : `час`,
        'elt-hours_1'            : `часа`,
        'elt-hours_2'            : `часов`,
        'elt-minutes_0'          : `минута`,
        'elt-minutes_1'          : `минуты`,
        'elt-minutes_2'          : `минут`,
        'elt-seconds_0'          : `секунда`,
        'elt-seconds_1'          : `секунды`,
        'elt-seconds_2'          : `секунд`,
        'elt-end'                : ` назад`,
        'elt-freshly'            : `только что`,
    },
    locked: {
        buyLevel      : ``,
        authorization : ``,
        registration  : ``,
    },
    permissions: {
        buyLevel      : `0`,
    }
};
// Получить основной домен
let arr = config.site.domain.split('.');
if(arr.length > 2) {
    config.site.domain = arr.slice(arr.length - 2).join('.')
}
</script>

<script src="/assets/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/assets/fullpage/scrolloverflow.min.js"></script>
<script src="/assets/fullpage/fullpage.min.js"></script>
<script src="/assets/fullpage/fullpage.extensions.min.js"></script>
<script src="/assets/revealator/fm.revealator.jquery.js"></script>
<script src="/js/index.js"></script>

<script src="/js/common.js?v=1588455189"></script>
<script type="text/javascript">
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym");

   ym(57866482, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true,
        ecommerce:"dataLayer"
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/57866482" style="position:absolute; left:-9999px;" alt="" /></div></noscript>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171694820-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-171694820-1');
</script></body>
</html>