:root {
  --orange: #ffa242;
  --blue: #2f14b6;
  --sea-gradient: linear-gradient(90deg, #00c193 0%, #008bd9 100%);
  --card-bg: linear-gradient(
    90deg,
    rgba(132, 84, 245, 0.4) 0%,
    rgba(132, 84, 245, 0.2) 100%
  );
}
/* legasy */
body {
  background: #08081e;
  font-family: Montserrat;
  -webkit-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  /* -webkit-font-smoothing: none; */
  -webkit-text-stroke: 1px transparent;
  position: relative;
  color: #fff;
}
* {
  outline: 0 !important;
}
h1 {
  font-size: 47px;
  line-height: 60px;
  font-weight: 800;
}
h2 {
  font-size: 40px;
  font-weight: 800;
  color: var(--orange);
}
h3 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 800;
}
h3,
h4,
p {
  margin-bottom: 0;
}
a,
a:hover {
  color: #fff;
}
.button:hover {
  cursor: pointer;
  text-decoration: none;
}
.button {
  border: none;
  color: #ffffff;
  width: 150px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 150px;
}
.nav-item a.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 10px 8px 30px;
}
.nav-item:hover {
  color: #fff;
}

.nav-item:last-child:hover button {
  background-color: #4633d3;
}
.nav .nav-link::before {
  left: 12px;
  /* top: 12px; */
  position: absolute;
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  background-image: url(../img/home/plus.png);
}
.nav-item:hover .nav-link::before {
  background-image: url(../img/home/plus_white.png);
}
.nav-item .nav-link,
.mobile-menu-btn {
  position: relative;
  width: 178px;
  height: 40px;
}
.nav-link.active,
.nav-item:hover a {
  color: #fff;
}
.nav-link.active {
  background-color: #1c0a75;
}
.nav-item:last-child:hover {
  background-color: unset;
}

.nav a {
  display: block;
}
.nav-menu__wrapper .logo {
  text-align: right;
  margin-bottom: 80px;
}
.nav-link {
  font-size: 12px;
  font-weight: 700;
  color: #898989;
}

.nav .nav-item:last-child {
  margin-top: 38vh;
}
.nav .nav-btn {
  font-weight: bold;
  font-size: 12px;
  background: var(--blue);
  height: 50px;
  width: 160px;
}

/* обертки областей */
.site-wrapper {
  /* background: red; */
  background: #08081e;
}
.nav-menu__wrapper {
  width: 20%;
  z-index: 10;
  height: 100vh;
  height: 100%;
  position: fixed;
  background: #08081e;
}
/*  */
.nav-menu {
}

.page-wrapper {
  /* width: 80%; */
  padding-left: 20%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(132, 84, 245, 0.2)), to(rgba(132, 84, 245, 0)));
  background: linear-gradient(90deg, rgba(132, 84, 245, 0.2) 0%, rgba(132, 84, 245, 0) 100%);
  /* background: linear-gradient(
    90deg,
    rgba(132, 84, 245, 0.4) 0%,
    rgba(132, 84, 245, 0) 100% */
  );
}
.main {
  height: 90vh;
  padding-left: 55px;
}
.main .bg-circle__gradient--blue{
  position: absolute;
  left: -20%;
  top: 0;
  z-index: 2;
}
.main-txt:after {
  content: "";
  display: block;
  position: absolute;
  /* right: 25vw; */
  left: 38vw;
  width: 294px;
  height: 244px;
  background-image: url(../img/home/Kristal.png);
  background-size: contain;
  background-position: center;
}
.main-txt {
  position: relative;
  z-index: 10;
  margin-top: 15vh;
  /* margin-top: 25vh; */
}
.main-txt h1 > span {
  color: var(--orange);
}
.main-txt .main-text__span {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 18px;
  display: block;
}

.page-wrapper section {
  /* padding-left: 55px; */
  position: relative;
}

/* videos */

.form-wrapper {
  background: -webkit-gradient(linear, left top, right top, from(#008bd9), to(#00c193));
  background: linear-gradient(90deg, #008bd9, #00c193);
}
.video-wrapper {
  z-index: 1;
  background: var(--card-bg);
  width: 770px;
  min-height: 220px;
  padding: 32px 22px;
  border-radius: 9px;
  position: relative;
}
.video-wrapper.mt-3{
  margin-top: 10px !important;
}
.video-box {
  background-image: url(../img/home/video-bg.png);
  background-size: cover;
  background-position: center;
  min-width: 280px;
  height: 155px;
  display: block;
  border-radius: 9px;
  /* z-index: 2; */
}
.video-box__without-text {
  background-image: unset;
  max-width: 280px;
}
.video-box__without-text p {
  opacity: 0.2;
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
  line-height: 22px;
  margin-left: 14px;
}
.video-header {
  /* margin-bottom: 11px; */
}
.video-txt {
  padding-left: 52px;
  color: #fff;
  max-width: 360px;
}
.video-txt h4 {
  font-weight: 800;
  font-size: 14px;
  color: rgb(255 255 255 / 0.6);
  line-height: 26px;
}
.video-txt h4 > span {
  color: rgb(255 255 255 / 1);
}

.video-desc {
  margin-bottom: 28px;
  margin-top: 18px;
}
.form-wrapper .socials ul li:hover,
.play-btn:hover {
  cursor: pointer;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.play-btn {
  -webkit-transition: 1s;
  transition: 1s;
}
.box-content .video-txt p {
  font-size: 13px;
  font-weight: 400;
  opacity: 0.5;
  line-height: 22px;
}

.video-txt__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 137px;
  height: 45px;
  /* padding: 11px 21px; */
  font-size: 14px;
  font-weight: 700;
  background-image: url(../img/home/videos-btn-1.png);
  background-size: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 9px;
}
.video-txt__btn:hover {
  border-radius: 9px;
  background-size: cover;
  background-image: url(../img/home/videos-btn__hover.png);
}
.btn-2 {
  width: 163px;
  background-image: url(../img/home/videos-btn-2.png);
}
.btn-3 {
  margin-left: 14px;
  background-image: url(../img/home/videos-btn-3.png);
}

.section_header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
}
.section_header-icon,
.box-line {
  width: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section_header-icon img {
  height: 10px;
  width: 10px;
}
section .box {
  padding-left: 27.5px;
}
section .box-content {
  padding-top: 32px;
  padding-bottom: 132px;
  padding-left: 27.5px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.instruction-decs span {
  color: #00c193;
}
.instruction-decs {
  display: block;
  margin-bottom: 31px;
  font-weight: 800;
  font-size: 27px;
  line-height: 33px;
}
/* section .box-content */
section .instruction .box-content {
  padding-top: 12px;
}
/* form */
.form .form-wrapper {
  margin-left: 55px;
  width: 770px;
  min-height: 220px;
  padding: 32px 35px;
  border-radius: 14px;
  position: relative;
  background-image: url(../img/home/form-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.form_half {
  width: 50%;
  padding-left: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form_half:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 0;
  padding-right: 60px;
}
.form-desc h3 {
  font-weight: 800;
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 9px;
}
.form-desc span {
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
}
.form-desc p {
  margin-top: 29px;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
}
.form-btns span {
  display: block;
  font-weight: 600;
  font-size: 9px;
  line-height: 23px;
  margin-bottom: 8px;
}
.form-btns p {
  margin-top: 18px;
  font-weight: 600;
  font-size: 10px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.6);
}
.form_btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 137px;
  height: 45px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 9px;
  font-weight: 800;
  font-size: 13px;
  line-height: 23px;
  display: flex;
  align-items: center;
  width: 205px;
  height: 45px;
  background: #08072B;
  border-radius: 9px;
  margin-bottom: 9px;
}

@media (min-width: 1200px) {
.page-wrapper{
      width: 82%;
      width: auto;
    padding-left: 19%;
}

.site-wrapper {
    max-width: 1200px;
    margin: 0 auto;}

    .nav-menu__wrapper {
    width: auto;}

    .page-wrapper section {
    /* padding-left: 0; */
    }
    div.main{
    padding-left: 0;
  }
  .main-txt:after {
    position: relative;
    right: 0;
    float: right;
    left: unset;
    width: 450px;
    height: 450px;
    background-repeat: no-repeat;
  }
}
